@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.subtitle {
  font-size: functions.responsive-value(24, 16);
  text-transform: uppercase;
  color: variables.$color-841319;
}
