$color-white: #fff;
$color-black: #000;

$color-hover: #ff290b;

$color-f2f2f2: #f2f2f2;
$color-1b1b1b: #1b1b1b;
$color-dcdce0: #dcdce0;
$color-1b1b1b: #1b1b1b;
$color-92171e: #92171e;
$color-f0f0f0: #f0f0f0;
$color-151517: #151517;
$color-404040: #404040;
$color-841319: #841319;
$color-5e5e5e: #5e5e5e;
$color-981920: #981920;
$color-eaebf0: #eaebf0;
$color-272d37: #272d37;
$color-5f6d7e: #5f6d7e;
$color-e83c3c: #e83c3c;
