@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.hero {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  min-block-size: 100svh;
  padding-block: calc(#{variables.$header-height} + var(--hero-padding-top, 31px)) 31px;

  @media (min-height: #{700 + 0.1px}) {
    --hero-padding-top: (145 / 1080 * 100svh);
  }

  // .hero__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    gap: 31px;

    > * > *:not(.responsive-media) {
      filter: drop-shadow(0 0 5px variables.$color-f2f2f2);
      transform: translateZ(0);
    }
  }

  // .hero__header
  &__header {
    display: flex;
    flex-direction: column;
    gap: functions.responsive-value(42, 31);
  }

  // .hero__title
  &__title {
    max-inline-size: 660px;
  }

  // .hero__car
  &__car {
    @media (min-width: #{1024 + 0.1px}) {
      position: absolute;
      inset: 0;
      z-index: -1;
    }

    @media (max-width: 1024px) {
      aspect-ratio: 1310 / 596;
    }

    img {
      @media (min-width: #{1024 + 0.1px}) {
        object-position: calc(50% + #{functions.responsive-value(0, 200, 1600, 1024, "fixed-both", "px")}) 50%;
      }

      @media (max-width: 1024px) {
        object-fit: contain;
      }
    }
  }

  // .hero__buttons
  &__buttons {
    display: flex;
    align-items: center;
    row-gap: 10px;
    column-gap: 25px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  // .hero__socials
  &__socials {
    @media (min-width: #{1024 + 0.1px}) {
      max-inline-size: 50vw;
    }
  }

  // .hero__background
  &__background {
    position: absolute;
    inset: 0;
    z-index: -2;
    opacity: 0.5;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.hero-advantages {
  --gap: #{functions.responsive-value(110, 31, 1920, 1024, "fixed-both", "px")};

  display: grid;
  align-items: start;
  justify-content: space-between;
  row-gap: 31px;
  column-gap: var(--gap);

  @media (min-width: #{768 + 0.1px}) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: #{1024 + 0.1px}) {
    display: flex;
  }

  // .hero-advantages__item
  &__item {
    display: flex;
    align-items: center;
    gap: var(--gap);

    @media (min-width: #{1024 + 0.1px}) {
      min-block-size: 102px;

      &:not(:last-child) {
        &::after {
          content: "";
          flex: 0 0 auto;
          inline-size: 1px;
          block-size: 102px;
          font-size: 0;
          background-color: variables.$color-1b1b1b;
        }
      }
    }
  }

  // .hero-advantages__inner
  &__inner {
    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .hero-advantages__label
  &__label {
    margin-block-end: 8px;
    font-size: functions.responsive-value(19, 15, 1920, 1024, "fixed-both", "px");
    line-height: 1.55;
    text-transform: uppercase;
    color: variables.$color-black;

    @media (min-width: #{1024 + 0.1px}) {
      white-space: nowrap;
    }
  }

  // .hero-advantages__text
  &__text {
    font-size: functions.responsive-value(17, 13, 1920, 1024, "fixed-both", "px");
    line-height: 1.39;
    color: variables.$color-404040;

    br {
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}
