@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.maintenance {
  padding-block: functions.responsive-value(389, 50) functions.responsive-value(190, 50);

  // .maintenance__container
  &__container {
  }

  // .maintenance__inner
  &__inner {
    display: grid;
    align-items: start;
    row-gap: 30px;
    column-gap: functions.responsive-value(174, 30);

    @media (min-width: #{1024 + 0.1px}) {
      grid-template-columns: calc(641 / 773 * 1fr) calc(905 / 773 * 1fr);
    }
  }

  // .maintenance__image
  &__image {
    aspect-ratio: 641 / 428;
    font-size: 0;

    @media (max-width: 1024px) {
      inline-size: 100%;
      max-inline-size: 641px;
      margin-inline: auto;
    }
  }

  // .maintenance__content
  &__content {
    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .maintenance__header
  &__header {
    margin-block-end: 14px;

    @media (max-width: 1024px) {
      text-align: center;
    }

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .maintenance__subtitle
  &__subtitle {
    margin-block-end: 7px;
    line-height: 1.33;
  }

  // .maintenance__title
  &__title {
    line-height: 1.78;
  }

  // .maintenance__text
  &__text {
    max-inline-size: 650px;
    margin-block-end: functions.responsive-value(54, 30);
    font-size: functions.responsive-value(24, 16);
    line-height: 1.29;
    color: variables.$color-5e5e5e;

    @media (max-width: 1024px) {
      margin-inline: auto;
      text-align: center;
    }
  }

  // .maintenance__advantages
  &__advantages {
    margin-block-end: functions.responsive-value(32, 30);
  }
}

.maintenance-advantages {
  > *:last-child {
    margin-block-end: 0;
  }

  // .maintenance-advantages__text
  &__text {
    margin-block-end: functions.responsive-value(42, 30);
    font-size: functions.responsive-value(24, 16);
    line-height: 1.52;
    text-wrap: balance;
    color: variables.$color-black;
  }

  // .maintenance-advantages__list
  &__list {
  }

  // .maintenance-advantages__item
  &__item {
    padding-inline-start: 39px;
    font-size: functions.responsive-value(22, 14);
    line-height: 1.66;
    text-transform: uppercase;
    color: variables.$color-5e5e5e;

    &:not(:last-child) {
      margin-block-end: 8px;
    }

    &::before {
      content: "";
      position: relative;
      inset-block-start: calc(functions.responsive-value(22, 14) / -3);
      display: inline-block;
      inline-size: 39px;
      block-size: 1px;
      margin-inline-start: -39px;
      font-size: 0;
      background-image: linear-gradient(variables.$color-841319, variables.$color-841319);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 21px 1px;
    }
  }
}
